<mat-card class="RegisterComponent">
  <mat-card-header>
    <mat-card-title>Rejestracja</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="mat-error" *ngIf="error$ | async as error">
      {{error}}
    </div>
    <app-register-form></app-register-form>
  </mat-card-content>
</mat-card>