.NavBar {
  background: #000000 !important;

  .streetwood-logo {
    display: block;
  }

  .mat-toolbar-row {
    display: flex;

    .auth-menu {
      text-align: right;
    }
  }
}

.spacer {
  flex-grow: 1;
}
