<mat-toolbar class="NavBar bg-dark">
  <mat-toolbar-row>
    <span routerLink="/">
      <img src="assets/images/logo.jpg" alt="StreetWood" class="streetwood-logo" />
    </span>
    <div class="CustomMenu">
      <ng-container *ngFor="let category of categoriesList$ | async">
        <mat-menu #categoryMenu="matMenu">
          <button
            mat-menu-item
            *ngFor="let item of category.productCategories"
            [routerLink]="['category', item.name]"
            [queryParams]="{ categoryId: item.id }"
          >
            {{ item.name }}
          </button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="categoryMenu">
          <mat-label>{{ category.name }}</mat-label> <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </ng-container>
    </div>
    <div class="spacer"></div>
    <div class="auth-menu">
      <ng-container *ngIf="user$ | async as user">
        <ng-container *ngIf="user.token !== null; else anonymousMenu">
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item [routerLink]="['/', 'basket']">Koszyk</button>
            <button mat-menu-item [routerLink]="['/', 'profile']">Moj profil</button>
            <button mat-menu-item (click)="logoutUser()">Wyloguj się</button>
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="userMenu">
            <mat-label>{{ user.email }}</mat-label> <mat-icon>arrow_drop_down</mat-icon>
          </button>
        </ng-container>
        <ng-template #anonymousMenu>
          <button mat-button *ngFor="let menuItem of anonymousUser" [routerLink]="menuItem.path">
            {{ menuItem.name }}
          </button>
        </ng-template>
        <button mat-button routerLink="/basket">
          <mat-icon [matBadge]="basketProductCount$ | async">shopping_cart</mat-icon>
        </button>
      </ng-container>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
