<div class="ProductView" *ngIf="product$ | async as product">
  <span class="toggleColumnButton">
    <mat-icon *ngIf="!visibleColumn" (click)="toggleVisibleColumn()">keyboard_arrow_left</mat-icon>
    <mat-icon *ngIf="visibleColumn" (click)="toggleVisibleColumn()">keyboard_arrow_right</mat-icon>
  </span>
  <app-sidebar class="ProductView-catBar"></app-sidebar>
  <div class="ProductView-viewProduct" [ngClass]="{ activeColumn: visibleColumn, unActiveColumn: !visibleColumn }">
    <!-- <ngx-image-zoom
      *ngIf="product.images && product.images.length"
      thumbImage=""
      fullImage="{{ host + product.images[activeIndex].imageUrl }}"
      magnification="2"
      enableLens="true"
      lensWidth="150"
      lensHeight="150"
    ></ngx-image-zoom> -->
    <img
      src="{{ host + product.images[activeIndex].imageUrl }}"
      alt="{{ host + product.images[activeIndex].imageUrl }}"
      style="max-width: 500px; height: auto;"
    />
    <ul
      *ngIf="product.acceptCharms"
      class="SelectedCharms"
      [sortablejs]="selectedCharms"
      [sortablejsOptions]="storableEventOptions"
    >
      <li *ngFor="let charm of productCharms$ | async; let i = index">
        <span class="remove-charm" (click)="removeCharm(charm?.charm?.id)">
          &times;
        </span>
        <img
          [src]="host + charm?.charm?.imagePath"
          (onError)="this.src = 'assets/images/sample-charm.png'"
          [matTooltip]="charm?.charm?.name"
        />
      </li>
    </ul>
    <app-gallery
      *ngIf="product?.images?.length > 1"
      [pictures]="product?.images"
      (selectPicture)="pictureChange($event)"
    ></app-gallery>
  </div>
  <div class="ProductView-orderForm" [ngClass]="{ activeColumn: !visibleColumn, unActiveColumn: visibleColumn }">
    <h3>{{ product.name }}</h3>
    <p class="price">
      Cena produktu:
      <span [ngClass]="{ discount: product?.discount?.isActive }">{{ product.price | currency: " " }}zł</span>
      <span *ngIf="product?.discount?.isActive" class="price--discount"
        >{{ product.price - product.price * (product.discount.percentValue / 100) | currency: " " }}zł
      </span>
    </p>
    <p class="price">
      Cena całkowita:
      <span
        >{{
          product | productCharmsPrice: (productCharms$ | async):detailsForm.get("amount").value | currency: " "
        }}zł</span
      >
    </p>
    <button
      *ngIf="product?.acceptCharms"
      mat-flat-button
      color="button-green"
      (click)="openCharmsList()"
      class="AddCharm"
    >
      <mat-icon>add</mat-icon>
      <mat-label>Charms</mat-label>
    </button>
    <br />
    <form [formGroup]="detailsForm">
      <!-- <mat-form-field>
        <mat-label>Wiadomość dla sprzedającego</mat-label>
        <textarea
          matInput
          placeholder="Wiadomość dla sprzedającego"
          name="messageForSale"
          formControlName="comment"
        ></textarea>
      </mat-form-field> -->

      <mat-form-field>
        <mat-label>Liczba sztuk</mat-label>

        <mat-icon matPrefix class="input-icons" (click)="increaseAmount()">add</mat-icon>
        <input
          matInput
          placeholder="Liczba sztuk"
          value="1"
          min="1"
          type="number"
          name="amount"
          formControlName="amount"
        />
        <mat-icon matSuffix class="input-icons" (click)="decreaseAmount()">remove</mat-icon>
      </mat-form-field>
    </form>
    <button mat-flat-button color="button-green" class="AddCharm" (click)="addToBasket()" *ngIf="!editMode">
      <mat-icon>add_shopping_cart</mat-icon>
      <mat-label>Dodaj do koszyka</mat-label>
    </button>
    <button
      mat-flat-button
      color="button-green"
      class="AddCharm"
      (click)="saveEditedProductToBasket()"
      *ngIf="editMode"
    >
      <mat-icon>add_shopping_cart</mat-icon>
      <mat-label>Zaktualizuj produkt</mat-label>
    </button>
    <br />
    <h4>Szczegóły</h4>
    <p>{{ product.description }}</p>
  </div>
</div>
