
.ProductView {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 20px 0;

  &-catBar {
    width: 140px;
    @media only screen and (max-width: 990px) {
      display: none;
    }
  }


  .input-icons {
    cursor: pointer;
    margin: 0 10px;
  }

  .AddCharm {
    width: 100%;
  }
  .mat-form-field {
    width: 100%;
    display: block;
    margin: 15px 0;
  }

  .toggleColumnButton {
    display: none;
    @media only screen and (max-width: 850px) {
      position: absolute;
      top: 20px;
      right: 20px;
      display: inline;
      z-index: 2000;
      .mat-icon {
        cursor: pointer;
      }
    }
  }
  .activeColumn {
    @media only screen and (max-width: 850px) {
      width: 100%;
    }
  }
  .unActiveColumn {
    @media only screen and (max-width: 850px) {
      display: none;
    }
  }

  &-viewProduct {
    flex: 0 1 50%;
    text-align: center;
    @media only screen and (max-width: 990px) and (min-width: 601px) {
      max-width: 400px;
      img {
        max-width: 400px !important;
      }
    }
    @media screen and (max-width: 600px) {
      flex: 0 0 90%;
      margin: 0 5px;
      max-width: 300px;
    }
  }
  &-orderForm {
    flex: 0 1 25%;
    @media only screen and (max-width: 990px) and (min-width: 601px) {}
    @media screen and (max-width: 600px) {
      flex: 0 0 90%;
      margin: 0 5px;
    }
  }
}

::ng-deep {
  // .zoom-image {
  //   max-width: 500px;
  //   height: auto;
  // }
  // .ngxImageZoomContainer {
  //   max-width: 500px;
  //   height: auto;

  //   img{
  //     max-width: 500px;
  //     height: auto;
  //   }
  // }
}

.price {
  font-size: 16px;

  & .discount {
    position: relative;
    display: inline-block;
    color: #c62828;
    font-size: 1.2rem;
    &::before,
    &::after {
      content: "";
      width: 100%;
      position: absolute;
      right: 0;
      top: 50%;
    }
    &::before {
      border-bottom: 2px solid #c62828;
      -webkit-transform: skewY(-10deg);
      transform: skewY(-10deg);
    }
  }
}
.price--discount {
  color: #09af00;
  font-size: 1.5rem;
  margin-left: 10px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
