.Order {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: wrap;

  .mat-card {
    max-width: 550px;
    flex-wrap: wrap;
    width: 50%;
    .promo-code-price{
      margin: 0 auto;
    }
    .discount-code-pirce{
      color: #4CAF50;
      font-size: 25px;
      text-align: center;
    }
    .order-address {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
    }

    .order-inline {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-flow: wrap;

      .mat-form-field {
        max-width: 255px;
        width: 100%;

        @media (max-width: 600px) {
          max-width: 500px;
        }
      }
    }
  }
}

.shipment-form {
  width: 100%;
   .mat-form-field {
     width: 100%;
   }
}

.address-item {
  width: 100%;
  margin: 10px;
  font-size: 16px;
  font-weight: 500;
}

.commentMsg {
  width: 100%;
}

.order-products {
  width: 100%;

  overflow-x: scroll;
}

.promoButton {
  cursor: pointer;
}
