<div class="Order">
  <mat-card>
    <mat-card-content>
      <h3>Wybierz adres</h3>
      <ng-container *ngIf="addresses$ | async as addressesList">
        <mat-radio-group aria-label="Wybierz address" (change)="changeAddress($event)">
          <mat-radio-button
            *ngFor="let address of addressesList"
            [value]="address.id"
            [checked]="(addressId$ | async) === address.id"
            class="address-item"
          >
            {{ address.street }} {{ address.postCode }} {{ address.city }} {{ address.phoneNumber }}
          </mat-radio-button>
          <mat-radio-button value="null" [checked]="(addressId$ | async) === 'null'" class="address-item">
            Wprowadz nowy address
          </mat-radio-button>
        </mat-radio-group>
      </ng-container>

      <div class="address-form" *ngIf="(addressId$ | async) === 'null'">
        <form [formGroup]="orderAddressForm">
          <h3>Address:</h3>
          <div class="order-address">
            <mat-form-field class="full-width">
              <mat-label>Ulica</mat-label>
              <input type="text" matInput placeholder="Ulica" formControlName="street" />
              <mat-error appErrorMsg [control]="orderAddressForm.get('street')"></mat-error>
            </mat-form-field>
            <div class="order-inline">
              <mat-form-field>
                <mat-label>Kod pocztowy</mat-label>
                <input type="text" matInput placeholder="Kod pocztowy" formControlName="postCode" />
                <mat-error
                  appErrorMsg
                  [control]="orderAddressForm.get('postCode')"
                  [customErr]="postcodeValidMsg"
                ></mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Miasto</mat-label>
                <input type="text" matInput placeholder="Miasto" formControlName="city" />
                <mat-error appErrorMsg [control]="orderAddressForm.get('city')"></mat-error>
              </mat-form-field>
            </div>
            <mat-form-field class="full-width">
              <mat-label>Numer telefonu</mat-label>
              <input type="text" matInput placeholder="Numer telefonu" formControlName="phoneNumber" />
              <mat-error
                appErrorMsg
                [control]="orderAddressForm.get('phoneNumber')"
                [customErr]="phoneValidMsg"
              ></mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Kraj</mat-label>
              <input type="text" matInput placeholder="Kraj" formControlName="country" />
              <mat-error appErrorMsg [control]="orderAddressForm.get('country')"></mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
      <form [formGroup]="orderShipmentForm" class="shipment-form">
        <h3>Sposób dostawy</h3>
        <mat-form-field>
          <mat-label>Sposób dostawy</mat-label>
          <mat-select formControlName="shipment">
            <mat-option *ngFor="let shipment of shipments$ | async" [value]="shipment.id">
              {{ shipment.name }}
            </mat-option>
          </mat-select>
          <mat-error appErrorMsg [control]="orderShipmentForm.get('shipment')"></mat-error>
        </mat-form-field>
        <mat-form-field class="commentMsg">
          <mat-label>Komentarz</mat-label>
          <textarea matInput placeholder="Komentarz" name="comment" formControlName="comment"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Kod promocyjny</mat-label>
          <input matInput placeholder="Kod promocyjny" name="promoCode" formControlName="promoCode" />
          <mat-icon *ngIf="promocodeAddButton$ | async" matSuffix (click)="checkPromoCode()" class="promoButton"
            >add</mat-icon
          >
          <mat-spinner [diameter]="20" *ngIf="promoCodeStatusLoading$ | async" matSuffix></mat-spinner>
          <mat-icon matSuffix *ngIf="promoCodeStatusActive$ | async" class="promoButton" style="color: #4CAF50;"
            >checked</mat-icon
          >
          <mat-icon matSuffix *ngIf="promoCodeStatusError$ | async" class="promoButton" style="color: #c62828;"
            >close</mat-icon
          >
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Zakupy</mat-card-title>
    </mat-card-header>
    <mat-card-content clas="order-products">
      <app-order-table class="order-products-table"></app-order-table>
      <div class="discount-code-price" *ngIf="discountCodePrice$ | async as discountCodePrice">
        <div class="promo-code-price">
          <h5>Cena z kodem promocyjnym:</h5>
          <span class="discount-code-pirce">{{ discountCodePrice | currency: " " }}zł</span>
        </div>
      </div>
      <div class="shipment-price">
        <h6>Cena dostawy:</h6>
        <ng-container *ngIf="shipmentPrice$ | async as shprice"> {{ shprice | currency: " " }}zł </ng-container>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="button-green" (click)="orderProducts()">
        Zamów
      </button>
    </mat-card-actions>
  </mat-card>
</div>
