<h1 mat-dialog-title>{{data.title}} </h1>
<div mat-dialog-content>
    {{data.error}}
</div>
<div mat-dialog-actions>
    <button mat-button color="warn" [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>