<mat-card class="Basket">
  <mat-card-header>
    <mat-card-title>Koszyk</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-order-table></app-order-table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button (click)="resetBasket()">
      Wyczyść koszyk
    </button>
    <button mat-flat-button color="button-green" (click)="orderProducts()" routerLinkActive="router-link-active">
      Zamów
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #noData>
  <h4>Brak danych</h4>
</ng-template>
