.Basket {
  max-width: 1200px;
  margin: 20px auto;

  table {
    width: 100%;
    box-shadow: -1px 0px 8px 3px rgba(117, 117, 117, 1);
  }

  .mat-footer-cell {
    font-weight: bold;
  }

  .TotalPrice {
    box-shadow: -1px 0px 8px 3px #757575;
    text-align: right;
    margin: 20px 0;
    width: 40%;
    float: right;
    padding: 10px;

    &-price {
      font-weight: 600;
    }
  }

  .CharmsList {
    list-style: none;
    padding: 2px;
  }

  .mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

