<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title>
      Odzyskaj hasło
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="recoveryForm">
      <mat-form-field>
        <input type="email" matInput placeholder="Wpisz email aby odzyskać hasło" formControlName="recoveryEmail" />
        <mat-icon *ngIf="recoveryForm.valid" matSuffix class="valid-email" (click)="sendEmailToPasswordRecovery()">
          done
        </mat-icon>
        <mat-icon *ngIf="!recoveryForm.valid" matSuffix class="invalid-email">close</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
