.card-container {
  max-width: 500px;
  margin: 100px auto;

  .mat-form-field {
    width: 100%;
  }

  .valid-email {
    color: #4CAF50;
    cursor: pointer;
  }

  .invalid-email {
    color: #c62828;
  }
}
