<div class="Dialog">
  <h4>{{ this.data.title }}</h4>
  <p>{{ this.data.message }}</p>

  <button mat-button (click)="closeDialog()">Nie</button>
  <button mat-flat-button color="warning" [mat-dialog-close]="true" cdkFocusInitial>Tak</button>
</div>
