<div class="Slider">
  <div class="Slider-images" [@slide]="stateSlider">
    <img [src]="slides.first" class="image" alt="" />
    <img [src]="slides.second" class="image" alt="" />
    <img [src]="slides.third" class="image" alt="" />
  </div>
</div>
