.Slider {
  position: absolute;
  left: 0;
  right: 0;
  top: 64px;
  overflow: hidden;

  @media only screen and (max-width: 850px) {
    display: none;
  }

  &-images {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    img {
      min-width: 100vw;
      height: auto;
    }
  }
}
