.Sidebar {
  text-align: left;
  margin-right: 10px;
  width: 200px;

  &-item {
    list-style: none;
    text-align: left;
    padding: 0;

    li {
      cursor: pointer;
      color: black;
      margin: 5px;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
        color: #565656;
      }
    }
  }
}
