<div class="Sidebar">
  <h2>Kategorie</h2>
  <hr />
  <ul *ngFor="let cat of categoriesList$ | async" class="Sidebar-item">
    <h4>{{ cat?.name }}</h4>
    <li
      *ngFor="let item of cat.productCategories"
      [routerLink]="['/', 'category', item.name]"
      [queryParams]="{ categoryId: item.id }"
      role="link"
    >
      {{ item.name }}
    </li>
  </ul>
</div>
