.RegisterForm {
  max-width: 500px;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  .mat-form-field {
    width: 100%;
  }

  .register-submit-button{
    margin: 10px 0;
  }
  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #4CAF50;
  }
  ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background: #4CAF50 !important;
  }
}
