<form [formGroup]="registerForm" (submit)="submitForm()" class="RegisterForm">
  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Email" />
    <mat-error appErrorMsg [control]="registerForm.get('email')"></mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input type="text" matInput formControlName="firstName" placeholder="First Name" />
    <mat-error appErrorMsg [control]="registerForm.get('firstName')"></mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input type="text" matInput formControlName="lastName" placeholder="Last Name" />
    <mat-error appErrorMsg [control]="registerForm.get('lastName')"></mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Hasło</mat-label>
    <input type="password" matInput formControlName="password" placeholder="Password" />
    <mat-error appErrorMsg [control]="registerForm.get('password')"></mat-error>
    <mat-hint>Hasło powinno składać się z 8 znaków zawierając duże i małe litery oraz cyfry</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Potwierdź Hasło</mat-label>
    <input type="password" matInput formControlName="confirmPassword" placeholder="Password Confirmation" />
    <mat-error appErrorMsg [control]="registerForm.get('confirmPassword')"></mat-error>
  </mat-form-field>
  <div class="mat-form-field">
    <mat-checkbox formControlName="acceptRegulations">Akceptuje regulamin</mat-checkbox>
    <!-- <mat-error
      appErrorMsg
      [control]="registerForm.get('acceptRegulations')"
      [customErr]="regulationsErrorMsg"
    ></mat-error> -->
  </div>

  <button mat-raised-button color="button-green" type="submit" class="register-submit-button">
    Zarejestruj się
  </button>

  <a (click)="goToLogin()">Zaloguj się</a>
</form>
