<div *ngIf="basketProducts$ | async as basketProducts" class="order-table">
  <ng-container *ngIf="basketProducts.length > 0; else noData">
    <table mat-table [dataSource]="basketProducts">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nazwa produktu</th>
        <td mat-cell *matCellDef="let element" (click)="openDisplay(element)">{{ element.product.name }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef>
          Wiadomość dla sprzedającego
        </th>
        <td mat-cell *matCellDef="let element" (click)="openDisplay(element)">{{ element.comment || "Brak" }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>
          Liczba sztuk
        </th>
        <td mat-cell *matCellDef="let element" (click)="openDisplay(element)">
          {{ element.amount }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="charmsAmount">
        <th mat-header-cell *matHeaderCellDef>
          Liczba zawieszek
        </th>
        <td mat-cell *matCellDef="let element" (click)="openDisplay(element)">
          {{ element.charms.length }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef>Cena</th>
        <td mat-cell *matCellDef="let element" (click)="openDisplay(element)">
          {{ element | productFullPrice | currency: " " }} zł
        </td>
        <td mat-footer-cell *matFooterCellDef>{{ basketProducts | productPriceFull | currency: " " }}zł</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="removeProduct(i)">
              <mat-icon>delete_outline</mat-icon>
              <mat-label>Usuń</mat-label>
            </button>
            <button mat-menu-item (click)="editProductInBasket(i)">
              <mat-icon>edit</mat-icon>
              <mat-label>Edytuj</mat-label>
            </button>
          </mat-menu>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </ng-container>
</div>
