<div class="container">
  <mat-spinner class="SpinnerClass" *ngIf="loading$ | async"></mat-spinner>
  <div class="errorMsg" *ngIf="error$ | async as error">
    <mat-icon>error_outline</mat-icon>
    <h4>{{ error }}</h4>
  </div>
  <ng-container *ngIf="currentOrder$ | async as order">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Zamowienie nr {{ orderId }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="details-content">
        <mat-list>
          <mat-list-item> <span class="mat-label">Number zamowienia:</span> {{ order[0].id || "---" }} </mat-list-item>
          <mat-list-item>
            <span class="mat-label">Data zamowienia:</span>
            {{ (order[0].creationDateTime | date: "dd-mm-yyyy") || "---" }}
          </mat-list-item>
          <mat-list-item>
            <span class="mat-label">Status płatności:</span> {{ order[0].isPayed ? "Zapłacone" : "Nie zapłacono" }}
          </mat-list-item>
          <mat-list-item>
            <span class="mat-label">Data płatności:</span> {{ (order[0].payedDateTime | date: "dd-mm-yyyy") || "---" }}
          </mat-list-item>

          <mat-list-item>
            <span class="mat-label">Produkt wysłano:</span> {{ order[0].isShipped ? "Tak" : "Nie" }}
          </mat-list-item>
          <mat-list-item>
            <span class="mat-label">Data wysłania:</span>
            {{ order[0].shipmentDateTime | date: "dd-mm-yyyy" }}
          </mat-list-item>
          <mat-list-item>
            <span class="mat-label">Wiadomość dla sprzedającego:</span> {{ order[0].comment || "---" }}
          </mat-list-item>
          <mat-list-item>
            <span class="mat-label">Cena:</span> {{ order[0].basePrice | currency: " " }}zł
          </mat-list-item>

          <mat-list-item>
            <span class="mat-label">Cena za przesyłkę:</span>{{ order[0].shipmentPrice | currency: " " }}zł
          </mat-list-item>
          <mat-list-item>
            <span class="mat-label">Cena całkowita:</span> {{ order[0].finalPrice | currency: " " }}zł
          </mat-list-item>
          <mat-list-item>
            <span class="mat-label">Data zakończenia transakcji:</span>
            {{ order[0]?.closedDateTime | date: "dd-mm-yyyy" }}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
