.details-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div {
    flex: 1 1 50%;
  }
}

.order-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &-item {
      margin: 10px 0;
  }
}

.mat-label {
  font-weight: 500;
  margin-right: 15px;
}

.errorMsg {
  text-align: center;
  margin: 50px 0;

    .mat-icon {
      color: red;
      transform: scale(3);
      margin: 40px 0
    }
}
