body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

.mat-menu-panel, .mat-card, .mat-raised-button, .mat-button, .mat-form-field-outline, .mat-flat-button, .mat-stroked-button {
  border-radius: 0 !important;
}
