<div class="container">
  <mat-spinner class="SpinnerClass" *ngIf="loading$ | async"></mat-spinner>
  <table mat-table [dataSource]="orders">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="basePrice">
      <th mat-header-cell *matHeaderCellDef>Cena bazowa</th>
      <td mat-cell *matCellDef="let element">{{ element.basePrice }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="shipmentPrice">
      <th mat-header-cell *matHeaderCellDef>Cena wysyłki</th>
      <td mat-cell *matCellDef="let element">{{ element.shipmentPrice }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="finalPrice">
      <th mat-header-cell *matHeaderCellDef>Cena ostateczna</th>
      <td mat-cell *matCellDef="let element">{{ element.finalPrice }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="isPayed">
      <th mat-header-cell *matHeaderCellDef>Oplacono</th>
      <td mat-cell *matCellDef="let element">{{ element.isPayed }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="isShipped">
      <th mat-header-cell *matHeaderCellDef>Wysłano</th>
      <td mat-cell *matCellDef="let element">{{ element.isShipped }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="ACTIONS">
        <th mat-header-cell *matHeaderCellDef>Akcja</th>
        <td mat-cell *matCellDef="let element"><a [routerLink]="['my-orders', element.id]">Zobacz szczegóły</a></td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
</div>
