<div class="container">
  <div class="loading" *ngIf="loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <app-sidebar class="CategoriesBar"></app-sidebar>
  <ng-container *ngIf="products$ | async as products">
    <ng-container *ngIf="products.length > 0; else noData">
      <mat-card
        *ngFor="let product of products"
        class="ProductItem"
        (click)="editProduct(product.id)"
        [routerLink]="['product', product.name]"
        [queryParams]="{ productId: product.id }"
      >
        <mat-card-header> </mat-card-header>
        <div class="ProductItem-image">
          <img
            [src]="imagePath(product.images)"
            class="card-img-top"
            (error)="imagePathCorrect($event, product.images)"
            [alt]="product.name"
          />
        </div>
        <mat-card-content>
          <p class="ProductItem-description" [matTooltip]="product.description">
            <strong>{{ product.name }}</strong>
          </p>
          <p class="price">
            <span [ngClass]="{ discount: product.discount }">{{ product.price | currency: " " }} zł</span>
            <span *ngIf="product.discount" class="price--discount">
              {{ product.price | discount: product.discount | currency: " " }} zł
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-template #noData>
      <h3>
        Brak produktów
      </h3>
    </ng-template>
  </ng-container>
</div>
<!-- <ngx-image-zoom
  thumbImage="https://stagging.streetwood.pl/Images\Products\Sznureczki_v9pjd\qwert_pwagp\ecru_poe39xgvbo.png"
  fullImage="https://stagging.streetwood.pl/Images\Products\Sznureczki_v9pjd\qwert_pwagp\ecru_poe39xgvbo.png"
  magnification="2"
  zoomMode="'click'"
  enableLens="true"
  lensWidth="150"
  lensHeight="150"
  ></ngx-image-zoom> -->
