.container {
  text-align: center;
  max-width: 1200px;
  margin: 10px auto;
  display: inline-flex;
  position: relative;

  .loading {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .CategoriesBar {
    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  .ProductItem {
    width: 220px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    text-align: center;
    border-radius: 0;
    cursor: pointer;

    .mat-card-header {
      height: 2rem;
      .mat-card-title {
        font-size: 0.9rem;
      }
    }
    &-image {
      height: 180px;
      width: 180px;
      text-align: center;
      object-fit: cover;
      margin: 0 auto;
      object-position: center;
      img {
        max-height: 180px;
        width: auto;
      }
    }
    &-description {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .price {
      & .discount {
        position: relative;
        display: inline-block;
        color: #c62828;
        font-size: 0.75rem;
        &::before,
        &::after {
          content: "";
          width: 100%;
          position: absolute;
          right: 0;
          top: 50%;
        }
        &::before {
          border-bottom: 2px solid #c62828;
          -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
        }
      }
    }
    .price--discount {
      color: #09af00;
      margin-left: 10px;
    }
  }
}
