.Spinner {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: lightgray;

    &-animation {
        position: relative;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
    }
}