<h1 mat-dialog-title *ngIf="!data?.failure">{{ data.title }}</h1>
<div mat-dialog-content>
  <mat-icon *ngIf="data?.failure" color="warn" style="font-size: 5vw; display: block;margin: 0 auto 3vw; "
    >error_outline</mat-icon
  >
  <h1 *ngIf="data?.failure" style="text-align: center; margin-left: 1em;">Błąd</h1>
  {{ data.message }}
</div>
<div mat-dialog-actions>
  <button mat-button [color]="data?.failure ? 'warn' : 'success'" [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>
