<footer>
  <div class="Logo">
    <img src="assets/images/logo.jpg" alt="Logo" />
  </div>
  <div class="Menu">
    <ul>
      <h4>Menu</h4>
      <li>Sklep</li>
      <li>LookBook</li>
      <li>Kolejna pozycja</li>
    </ul>
    <ul>
      <h4>Menu</h4>
      <li>Sklep</li>
      <li>LookBook</li>
      <li>Kolejna pozycja</li>
    </ul>
    <ul>
      <h4>Menu</h4>
      <li>Sklep</li>
      <li>LookBook</li>
      <li>Kolejna pozycja</li>
    </ul>
    <ul>
      <h4>Menu</h4>
      <li>Sklep</li>
      <li>LookBook</li>
      <li>Kolejna pozycja</li>
    </ul>
  </div>
  <div class="Subscription">
  </div>
</footer>
