footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;

  .Logo {
    height: 100%;
    min-width: 200px;
  }

  .Menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    ul {
      min-width: 130px;
      list-style: none;
      text-align: left;
      padding: 5px;
    }
  }

  .Subscription {
    max-width: 250px;

    .mat-form-field-outline {
      background: #fff !important;
      border-radius: 5px;
    }
  }
}

::ng-deep {
  footer {
    .Subscription {
      .mat-form-field {
        color: black;

        .mat-icon {
          cursor: pointer;
        }
      }
      .mat-form-field-outline {
        background: #fff !important;
        border-radius: 5px;
      }
    }
  }
}
