.ProductPreview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 0 0 50%;

  &-info {
    max-width: 400px;
    padding: 0 30px;
  }

  &-pictures {
    max-width: 500px;

    .Preview {
      max-width: 500px;

      &-picture {
        max-width: 500px;
      }
    }
  }
}
