<h1 mat-dialog-title>Podgląd produktu</h1>
<div mat-dialog-content>
  <div class="ProductPreview">
    <div class="ProductPreview-pictures">
      <div class="Preview">
        <img
          src="{{ host + (data?.product?.product?.images)[pictureIndex].imageUrl }}"
          alt="ImagePreveiw"
          class="Preview-picture"
        />
      </div>
      <ul class="SelectedCharms" *ngIf="data?.product?.product?.acceptCharms">
        <li *ngFor="let charm of data?.product?.charms">
          <img src="{{ host + charm?.charm?.imagePath }}" alt="{{ charm?.charm?.name }}" [matTooltip]="charm.name" />
        </li>
      </ul>
      <app-gallery
        *ngIf="data?.product?.product?.images.length > 1"
        [pictures]="data?.product?.product?.images"
        (selectPicture)="switchPhoto($event)"
      ></app-gallery>
    </div>
    <div class="ProductPreview-info">
      <h2>{{ data?.product?.product?.name }} ddd</h2>
      <p>{{ data?.product?.product?.description }}</p>
      <h4>Cena za sztukę:</h4>
      {{ data?.product?.product?.price | currency: " " }} zł
      <h4>Cena zamówienia:</h4>
      {{ data?.product | productFullPrice | currency: " " }} zł
      <!-- <h4>Wiadomość dla sprzedającego:</h4>
      {{ data?.product?.comment }} -->
      <h4>Dostępne rozmiary:</h4>
      {{ data?.product?.product?.sizes }}
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="null" cdkFocusInitial>Zamknij</button>
</div>
