<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title>
      Wprowadź nowe hasło
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="resetPasswordForm">
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input type="email" matInput formControlName="email" />
        <mat-error appErrorMsg [control]="resetPasswordForm.get('email')"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nowe hasło</mat-label>
        <input type="password" matInput formControlName="newPassword" />
        <mat-error
          appErrorMsg
          [control]="resetPasswordForm.get('newPassword')"
          [customErr]="passwordErrMsgConf"
        ></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Potwierdź nowe hasło</mat-label>
        <input type="password" matInput formControlName="confirmNewPassword" />
        <mat-error
          appErrorMsg
          [control]="resetPasswordForm.get('confirmNewPassword')"
          [customErr]="passwordErrMsgConf"
        ></mat-error>
      </mat-form-field>
      <button mat-stroked-button color="button-green">Restuj hasło</button>
    </form>
  </mat-card-content>
</mat-card>
