<h2 mat-dialog-title>Charms</h2>
<div mat-dialog-content>
  <mat-spinner class="SpinnerClass" *ngIf="loading$ | async"></mat-spinner>

  <mat-accordion *ngIf="!(loading$ | async)">
    <mat-expansion-panel *ngFor="let charm of charms$ | async">
      <mat-expansion-panel-header>{{ charm?.name }}</mat-expansion-panel-header>
      <ul class="charms-list">
        <li *ngFor="let item of charm.charms" (click)="addCharmToProduct(item)">
          <img [src]="host + item.imagePath" onerror="this.src='assets/images/sample-charm.png'" class="charm-item" />
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</div>
