.charms-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    text-align: left;
    margin: 5px;
    vertical-align: middle;
    box-shadow: 0px 0px 2px 0px #666;

    &:active{
      box-shadow: 0 1px 1px 1px #666;
      transform: translateY(2px);
    }
  }
}
