<div class="Gallery">
  <ng-container *ngFor="let photo of pictures; let i = index">
    <img src="{{ host + photo.imageUrl }}" (click)="selectImage(i)" alt="Miniaturka" class="Gallery-thumb" [class.active]="activeIndex === i" />
  </ng-container>
</div>
