.Gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    &-thumb {
        width: 120px;
        height: auto;
    } 

    .active {
        border: 1px solid green;
    }
}