@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'styles/main';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.SpinnerClass {
    margin: 20px auto;
}

.SelectedCharms {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-around;
    margin: -60px 0 60px 0;

    li {
      position: relative;
      .remove-charm {
        display: none;
        cursor: pointer;
        position: absolute;
        top: -5px;
        right: -5px;
      }
      &:hover {
        .remove-charm {
          display: inline;
        }
      }
    }
    li {
      margin: 0 10px;
      &:first-of-type:nth-last-of-type(2) {
        transform: rotate(20deg);
        & ~ li {
          transform: rotate(-20deg);
        }
      }
      &:nth-last-of-type(3) {
        &:first-of-type {
          transform: rotate(20deg) translateY(-30px);
          & ~ li:last-of-type {
            transform: rotate(-20deg) translateY(-30px);
          }
          & ~ li:nth-of-type(2) {
            transform: translateY(30px);
          }
        }
      }
      &:nth-last-of-type(4) {
        &:first-of-type {
          transform: rotate(20deg) translateY(-30px);
          & ~ li:last-of-type {
            transform: rotate(-20deg) translateY(-30px);
          }
          & ~ li:nth-of-type(3) {
            transform: rotate(-10deg) translateY(20px);
          }
          & ~ li:nth-of-type(2) {
            transform: rotate(10deg) translateY(20px);
          }
        }
      }
      &:nth-last-of-type(5) {
        &:first-of-type {
          transform: rotate(20deg) translateY(-30px);
          & ~ li:last-of-type {
            transform: rotate(-20deg) translateY(-30px);
          }
          & ~ li:nth-of-type(4) {
            transform: rotate(-10deg) translateY(20px);
          }
          & ~ li:nth-of-type(3) {
            transform: translateY(50px);
          }
          & ~ li:nth-of-type(2) {
            transform: rotate(10deg) translateY(30px);
          }
        }
      }
    }
  }
