<form [formGroup]="loginForm" (ngSubmit)="onsubmit()">
  <mat-card class="LoginComponent">
    <mat-card-header>
      <mat-card-title> Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="error$ | async as error" class="mat-error">
        {{ error }}
        <br />
      </div>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput type="email" placeholder="Email" formControlName="email" />
        <mat-error appErrorMsg [control]="loginForm.get('email')"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Haslo</mat-label>
        <input matInput type="password" placeholder="Hasło" formControlName="password" />
        <mat-error appErrorMsg [control]="loginForm.get('password')"></mat-error>
      </mat-form-field>
      <div class="mat-form-field">
        <mat-checkbox formControlName="rememberMe">Zapamietaj mnie</mat-checkbox>
      </div>
      <button mat-raised-button color="button-green" type="submit">
        Zaloguj się
      </button>
    </mat-card-content>
    <mat-card-actions>
      <a [routerLink]="['/', 'register']">Zarejestruj się</a>
    </mat-card-actions>
  </mat-card>
</form>
