.LoginComponent {
  max-width: 600px !important;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  width: 100%;

  .mat-form-field {
    width: 100%;
  }

  button {
    width: 100%;
  }

  a {
    cursor: pointer;
  }

  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #4CAF50;
  }
  ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background: #4CAF50 !important;
  }
}
