  .ngxImageZoomContainer {
    max-width: 500px;
    height: auto !important;

    @media only screen and (max-width: 850px) {
      max-width: 320px;

      img {
        max-width: 320px;
      }
    }
    img {
      max-width: 500px;
      height: auto;
    }
  }
